/* HEADER */
:global(.headerWrapper) {
  background: #222222;
  position: fixed;
  width: 100%;
  z-index: 111;
}
:global(.headerWrapper):after {
  clear: both;
  content: "";
  display: block;
}
header {
  font-size: 1rem;
  margin: 0 auto;
  max-width: calc(100% - 60px);
  width: 1480px;
}
header nav > span,
header nav a {
  color: #ffffff;
  display: inline-block;
  font-size: 2rem;
  font-weight: 700;
  margin: 0em .5em 0em .5em;
  padding: 1em .5em 1em 0em;
  text-decoration: none;
  vertical-align: middle;
}
header nav > span {
  margin: 0;
}
header nav a[href="/"] {
  font-size: 2rem;
  margin-left: 0;
}
:global(.headerCtaPrimary) {
  margin-left: .5em;
}
main {
  padding-top: 64px;
  /* offset fixed header height */
}