/* LAYOUT MAIN */
script {
    display:none !important;
  }
* {
  font-family: inherit;
  line-height: 125%;
  margin: 0;
  padding: 0;
}
html {
  background: #ffffff;
  font-family: 'libre_baskervilleregular', serif;
  font-size: 62.5%;
  line-height: 78.125%;
  min-height: 100vh;
  -webkit-text-size-adjust: 100%;
}
body {
  color: #222222;
  font-size: 1rem;
  line-height: 150%;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
}
a {
  color: var(--primary-color);
}
a:hover {
  opacity: .7;
}
h1 {
  font-size: 2em;
}
h2,
h3,
h4,
h5,
h6 {
  font-size: 1.7em;
  margin-bottom: .825em;
}
p {
  font-size: 1.4em;
  line-height: 1.5em;
  margin-bottom: 1em;
}
aside {
  font-size: 1.2em;
  font-style: italic;
  line-height: 1.5em;
}
article {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  font-size: 1rem;
  justify-content: center;
  min-height: calc(100vh - 64px);
  padding: 6em 0;
  position: relative;
}
article em {
  font-style: normal;
}
@keyframes fadein {
  from { opacity: 0; }
  to   { opacity: 1; }
}
:global(.mediaParagraph) strong {
  color: #2d5593;
  font-weight: 700;
}
/* PAGES */
:global(.articleInnerWrap) {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  max-width: calc(100% - 6em);
  position: relative;
  width: 1480px;
}
:global(.post) {
  background: var(--primary-color);
}
:global(.post0) {
  font-size: 0;
  line-height: 0;
  min-height: 0;
  padding: 0;
}
:global(.box) {
  background: #ffffff;
  box-sizing: border-box;
  flex: 0 0 auto;
}
:global(.box) h2 {
  font-size: 4.0em;
  line-height: 1.25;
}
:global(.box) h3 {
  font-size: 2.4rem;
  line-height: 1.25;
}
:global(.box h4) {
  background: var(--primary-color);
  color: #ffffff;
  display: inline-block;
  font-size: 1.7rem;
  padding: 4px 12px;
  position: relative;
  left: -12px;
}
:global(.box) h5 {
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
}
:global(.box) h6 {
  font-size: 1.4rem;
  font-style: italic;
  font-weight: 700;
}
:global(.box p) {
  font-size: 1.4rem;
}
:global(.box strong) {
  font-size: 1.1em;
}
:global(.box1of2) {
  padding: 9em 12em 9em 12em;
  width: calc(50% - 2px);
}
:global(.box2of2) {
  width: 50%;
}
:global(.box2of2) img {
  width: 100%;
}
:global(.box1of1) {
  margin: 0 auto;
  max-width: 960px;
  width: 100%;
}
:global(.box1of1) {
  padding: 12em;
}
:global(.box2of2 .imageContainer) {
  background-position: left top;
  background-repeat: no-repeat;
  background-size: cover;
  filter: grayscale(1);
  height: 0;
  line-height: 0;
  opacity: .3;
  overflow: hidden;
  padding-top: 112.16%;
  transition: filter .5s, opacity .5s;
}
:global(.videoContainer) {
  height: 0;
  padding-bottom: 56.25%;
  position: relative;
}
:global(.videoContainer) iframe {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}
/* SCROLL ARROWS */
:global(.pagination__previous) {
  top: 0px;
  position: absolute;
  height: 44px;
}
:global(.pagination__previous:after) {
  content: "";
  border-style: solid;
  border-width: 0px 30px 30px 30px;
  border-color: transparent transparent #ffffff50 transparent;
  height: 0;
  width: 0;
}
:global(.pagination__next) {
  bottom: 0px;
  position: absolute;
}
:global(.pagination__next:after) {
  content: "";
  border-style: solid;
  border-width: 30px 30px 0px 30px;
  border-color: #ffffff50 transparent transparent transparent;
  height: 0;
  width: 0;
}
/* RESPONSIVE */
@media (max-width : 1558px) {
  :global(.box1of1),
  :global(.box1of2) {
    font-size: .8em;
  }
}
@media (max-width : 1385px) {
  :global(.box1of1),
  :global(.box1of2) {
    font-size: .6em;
  }
}
@media (max-width : 959px) {
  :global(.articleInnerWrap) {
    justify-content: center;
  }
  :global(.box1of2), 
  :global(.box2of2) {
    border-width: 0;
    max-width: 440px;
    width: 100%;
  }
  :global(.box1of2),
  :global(.box1of1) {
    padding: 4em;
  }
}
/* Internet Explorer Graceful Degredation */
@media screen and (-ms-high-contrast: active), screen and (-ms-high-contrast: none) {  
  article {
    display: block;
  }
  :global(.box1of2) {
    padding: 0 25% 0 0;
  }
}
