/* HEADER */
:global(#formio) {
  font-size: 1.6rem;
}
label {
  /*display: block;*/
  display: none;
  font-weight: 700;
  margin-bottom: 1rem;
}
textarea {
  box-sizing: border-box;
  font-family: sans-serif;
  resize: vertical;
  width: 100%;
}
button {
  background: #337ab7;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #ffffff;
  cursor: pointer;
  display: inline-block;
  float: right;
  font-family: sans-serif;
  line-height: 2.5em;
  margin: 1rem 0 0 0;
  padding: 0 1em;
  touch-action: manipulation;
}
button:hover {
  background: #2d5593;
}
:global(#formio:empty:after) {
  content: "loading...";
}
:global(.alert-success) {
  background: #dff0d8;
  border-color: #d6e9c6;
  border-radius: 4px;
  color: #3c763d;
  font-size: 1.2rem;
  margin: 1rem 0;
  padding: 15px;
}
:global(.alert-success p) {
  margin-bottom: 0;
}
:global(.alert-success + .form-group textarea) {
  background: #eeeeee;
  border-width: 1px;
  cursor: not-allowed;
  pointer-events: none;
}
:global(button.submit-success) {
  cursor: not-allowed;
  opacity: .65;
  pointer-events: none;
}
